<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h1 class="text-center mb-4">Sign in to Kitabi Kira</h1>
            <form action="/login" method="POST" novalidate class="needs-validation">
              <div class="mb-3">
                <label for="username" class="form-label">
                  <i class="fas fa-user"></i> Username
                </label>
                <input
                  name="username"
                  id="username"
                  placeholder="Enter a unique Username"
                  type="text"
                  class="form-control"
                  required
                />
                <div class="invalid-feedback">Please provide a valid username.</div>
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">
                  <i class="fas fa-lock"></i> Password
                </label>
                <input
                  name="password"
                  placeholder="Enter a strong password"
                  type="password"
                  id="password"
                  class="form-control"
                  required
                />
                <div class="invalid-feedback">Please provide a valid password.</div>
              </div>

              <button type="submit" class="btn btn-dark btn-block">
                <i class="fas fa-sign-in-alt"></i> Sign in
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
